
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <script src="~/Scripts/vue.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.7.0/animate.min.css">
    <script src="~/Scripts/axios.min.js"></script>
    <link href="~/CSS/css.css" rel="stylesheet" />
    <style>
        li{
            margin:10px 0;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-primary">
                <div class="panel panel-heading text-center">
                    <h2>权限管理系统</h2>
                </div>
                <div class="panel panel-body">
                    <ul class="">
                        <li><a class="btn btn-info btn-block" href="/user/index">用户管理</a></li>
                        <li><a class="btn btn-warning btn-block" href="/role/index">身份管理</a></li>
                        <li><a class="btn btn-success btn-block">权限管理</a></li>
                        <li><a class="btn btn-danger btn-block">1管理</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</body>


</html>

